APP_NAME=BGH
APP_ENV=local
APP_KEY=base64:8ZOzWVq3PFjnqp/o/rCfS8q8Wy1UOBqieMyqmFDEbRU=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mongodb
MONGO_DB_CONNECTION=mongodb+srv://senjiiipatricio:SfYfR8LjMBfKHckZ@rainwatercatchbasiniot.f9402.mongodb.net/?retryWrites=true&w=majority&appName=RainwaterCatchBasinIoT
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=rainwatercatchbasiniot
MONGO_DB_USERNAME=senjiiipatricio
MONGO_DB_PASSWORD=SfYfR8LjMBfKHckZ






SESSION_DRIVER=file
SESSION_CONNECTION=mongodb
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.127.0.0.1
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=log
BROADCAST_DRIVER=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=2201105765@student.buksu.edu.ph
MAIL_PASSWORD=tohvezlrhnnexejt
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=2201105765@student.buksu.edu.ph
MAIL_FROM_NAME="BGH Admin System"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PUSHER_APP_ID=1968176
PUSHER_APP_KEY=4ec8cc2390a0852e67a0
PUSHER_APP_SECRET=113b2b5f349d400c5590
PUSHER_HOST=192.168.1.6
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=ap1

ESP32_URL=http://192.168.1.6:8000
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1:8000

